<h1 mat-dialog-title>Back-Testing</h1>
<h2 mat-dialog-title>{{data.strategyName}}</h2>
<div mat-dialog-content>
  <p>{{data.strategyDescription}}</p>
  <mat-form-field appearance="fill" style="display: block">
    <mat-label>Symbol</mat-label>
    <mat-chip-list #chipList aria-label="Symbol selection">
      <mat-chip *ngFor="let symbol of data.symbolList" selectable="true"
               removable="true" (removed)="remove(symbol)">
        {{symbol}}
        <mat-icon matChipRemove >cancel</mat-icon>
      </mat-chip>
      <input placeholder="Symbol..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             matChipInputAddOnBlur="true"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field appearance="fill" style="display: block">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="dpfrom" [(ngModel)]=data.startFrom>
    <mat-datepicker-toggle matSuffix [for]="dpfrom"></mat-datepicker-toggle>
    <mat-datepicker #dpfrom></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" style="display: block">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="dpto" [(ngModel)]=data.startTo>
    <mat-datepicker-toggle matSuffix [for]="dpto"></mat-datepicker-toggle>
    <mat-datepicker #dpto></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Execute</button>
</div>