<div style="margin: 15px;">
    <h1 class="mat-headline">Strategies 
        <!-- <button style="margin-left: 5px;" mat-mini-fab color="basic" aria-label="Example icon button with a plus one icon">
        <mat-icon>playlist_add</mat-icon>
        </button> -->
    </h1>
    <mat-card *ngFor="let strategy of strategyList" style="margin-bottom: 3px;">
        <mat-card-header>
          <mat-card-title>{{ strategy.name }}</mat-card-title>
          <mat-card-subtitle>{{ strategy.description }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-card>
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-option role="listitem" *ngFor="let eventgroup of strategy.eventGroups">
                            {{ eventgroup.name }} 
                            <p style="color: gainsboro;">{{ eventgroup.description }}</p>
                        </mat-list-option>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openEditDialog(strategy)">Edit</button>
          <!-- <button mat-button>Delete</button> -->
          <button mat-raised-button color="primary" (click)="openExecuteDialog(strategy)">Execute</button>
        </mat-card-actions>
        <mat-card *ngIf="strategy.backTestingResults.length !== 0">
            <mat-card-header>
                <mat-card-title>Back-testing History</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-option role="listitem" *ngFor="let result of strategy.backTestingResults">
                        <span style="padding: 10px">
                            <button mat-mini-fab color="basic" (click)="deleteReport(result)" aria-label="Example icon button with a delete icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <a mat-list-item style="padding-left: 5px;" [href]="sanitize(result.reportFileUri)" target="_blank">{{getLastItem(result.reportFileUri)}}</a> 
                        </span>
                        <br>
                    </mat-list-option>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-card>
</div>

