<h1 mat-dialog-title>{{data.strategyName}}</h1>
<div mat-dialog-content>
  <p>{{data.strategyDescription}}</p>
  <mat-form-field style="display: block">
    <mat-label>Symbol</mat-label>
    <input matInput [(ngModel)]="data.symbol">
  </mat-form-field>
  <mat-form-field appearance="fill" style="display: block">
    <mat-label>Verbose datepicker</mat-label>
    <input matInput [matDatepicker]="dpfrom" [(ngModel)]=data.startFrom>
    <mat-datepicker-toggle matSuffix [for]="dpfrom"></mat-datepicker-toggle>
    <mat-datepicker #dpfrom></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" style="display: block">
    <mat-label>Verbose datepicker</mat-label>
    <input matInput [matDatepicker]="dpto" [(ngModel)]=data.startTo>
    <mat-datepicker-toggle matSuffix [for]="dpto"></mat-datepicker-toggle>
    <mat-datepicker #dpto></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>